#container{
    margin: 0 auto;
}

#login, #register{
    padding:10px;
    background-color: #80cdff;
    width:50%;
    margin:0 auto;
    border-radius:10px;
}
#formheader{
    text-align:center;
    font-size:30px;
    font-weight:bold;
}

form input{
    display:block;
    margin:5px;
}

form label{
    display:inline-block;
}
h1 {
    text-align:center;
}

#nav, #menu{
    margin:0 auto;
    text-align:center;
}

#nav ul, #menu ul{
	padding-left: 0px;
	position: relative;
	text-align: center;
	list-style: none;
}
#nav ul li, #menu ul li{
    display:inline-block;
}

#nav ul li a, #menu ul a{
	text-decoration: none;
}

#logout {
    text-align: center;
    font-size: 20px;
    width:30%;
    background-color: #4fc5ff;
    border-radius: 15px;
    margin:0 auto;
    padding:5px;
}

#page{
    width:900px;
    margin:0 auto;
    background-color: #adf0ff;
    min-height: 900px;
    border-radius: 15px;
}
#menu{
    padding: 10px;
}

a:hover{
    color: #040dff;
}