#container{
    width: 100%;
    margin:0 auto;
}

#login, #register, #create{
    padding:10px;
    background-color: #80cdff;
    width:50%;
    margin:0 auto;
    border-radius:10px;
    margin-left: 25%;
}
#formheader{
    text-align:center;
    font-size:30px;
    font-weight:bold;
}

form input{
    display:block;
    margin:5px;
}
form textarea{
    max-width: 100%;
    max-height: 100%;
    min-width: 40%;
    min-height: 50px;
    display:block;
}

form label{
    display:inline-block;
}
h1 {
    text-align:center;
}

#nav, #menu{
    margin:0 auto;
    text-align:center;
}

#nav ul, #menu ul{
	padding-left: 0px;
	position: relative;
	text-align: center;
	list-style: none;
}
#nav ul li, #menu ul li{
    display:inline-block;
}

#nav ul li a, #menu ul a{
	text-decoration: none;
    font-size: 19px;
}

#logout {
    text-align: center;
    font-size: 20px;
    width:30%;
    background-color: #4fc5ff;
    border-radius: 15px;
    margin:0 auto;
    padding:5px;
    margin-bottom: 5px;
}

#page{
    width:900px;
    margin:0 auto;
    background-color: #adf0ff;
    min-height: 900px;
    border-radius: 15px;
    padding:5px;
}
#menu{
    padding: 10px;
}

a:hover{
    color: #ff4955;
}

body{
    background-color: #5d5a5c;
}

.middle{
    text-align: center;
}

.task{
    background-color: #58cfff;
}

.button {
    margin-left: 2px;
    text-decoration: none;
    background-color: #DFDFDF;
    color: #333;
    padding: 2px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC #333 #333 #CCC;
    font: 14px Arial;
}

form{
    display: inline-block;
}

.center{
    margin:0 auto;
}